body {
height: 100%;
margin: 0;
padding: 0;
}
.header {
background: url("../img/fon.jpg");
height: 200px;
}
.logo {
float: left;
height: 160px;
margin: 20px 0 0 20px;
}
.logotext {
float: left;
margin: 85px 0 0 10px;
font-family: arial;
font-size: 22pt;
color: #333333;
}
.topmenu {
display: -moz -box;
display: -webkit -flex;
display: flex;
width: 100%;
text-align: center;
margin: 0 auto;
background: #336699;
background: linear-gradient(to bottom, #111 0%, #336699 7%, #336699 95%, #ddd 100%);
}
.topmenu a {
height: 40px;
display: block;
-moz -box -flex: 1;
-webkit -flex: 1;
flex: 1;
padding: 10px;
font-family: arial;
text-align: center;
 vertical-align: middle;
text-decoration: none;
color: white;
border-right: white solid 1px;
}
.topmenu a:hover {
background: #c0c0c0;
color: black;
}
.main {
margin-top: 20px;
}
.content {
padding: 5px;
}
.content p {
text-align: justify;
}
.footer {
padding-top: 25px;
padding-bottom: 25px;
background: #bbbbbb;
text-align: center;
font-size: 12px;
margin-top: 20px;
}
.footer a {
text-decoration: none;
font-weight: bold;
color: red;
}
.footer a:hover {
text-decoration: underline;
}
.my_table0 {
background: #dcdcdc;
font-size: 14px;
border-radius: 10px;
}
.my_table1 {
background: #dcdcdc;
font-size: 14px;
border-radius: 10px;
}
.my_table1 td {
padding-left: 7px;
}
.my_table1_td1 {
text-align: center;
font-weight: bold;
}
.btn-primary {
margin-bottom: 10px;
}
.carousel-inner {
max-height: 400px;
}

@media screen and (max-width: 992px) {
.col-md-6 {
margin-top: 20px;
}
.my_table1 {
margin-top: 20px;
}
}
@media screen and (max-width: 768px) {
.topmenu {
background: linear-gradient(to bottom, #111 0%, #336699 2%, #336699 98%, #eee 100%);
}
.topmenu a{
border-bottom: white solid 1px;
}
.header {
height: 100px;
}
.logo {
display: none;
}
.logotext {
margin: 35px 0 0 10px;
}
.topmenu {
flex-direction: column;
}
}

