html, body {
margin: 0;
padding: 0;
height: 100%;
}
h2 {
margin-top: 0px;
padding: 0 5px 0 5px;
}
.wrapper {
min-height: 100%;
}
.header {
background: url("../img/fon.jpg");
height: 200px;
}
.logo {
float: left;
height: 140px;
margin: 30px 0 0 30px;
}
.logotext {
float: left;
margin: 85px 0 0 10px;
font-family: arial;
font-size: 22pt;
color: #111111;
}
.auth {
float: right;
margin: 20px 30px 0 0;
}
.auth a{
padding-left: 20px;
font-weight: bold;
color: #333;
}
.auth a:hover{
color: #000
}
.topmenu {
display: -moz -box;
display: -webkit -flex;
display: flex;
width: 100%;
text-align: center;
margin: 0 auto;
background: #336699;
background: linear-gradient(to bottom, #111 0%, #336699 7%, #336699 95%, #ddd 100%);
}
.topmenu a {
height: 40px;
display: block;
-moz -box -flex: 1;
-webkit -flex: 1;
flex: 1;
padding: 10px;
font-family: arial;
text-align: center;
text-decoration: none;
color: white;
border-right: white solid 1px;
}
.topmenu a:hover {
background: #c0c0c0;
color: black;
}
.main {
margin-top: 30px;
padding-bottom: 107px;
}
.content {
padding: 5px 5px 15px 5px;
}
.content p {
text-align: justify;
}
.footer {
padding-top: 25px;
padding-bottom: 25px;
background: #bbbbbb;
text-align: center;
font-size: 12px;
margin-top: 0px;
position: relative;
margin-top: -67px; 
height: 67px;
clear:both;
}
.footer a {
text-decoration: none;
font-weight: bold;
color: red;
}
.footer a:hover {
text-decoration: underline;
}
.my_table0 {
background: #dcdcdc;
font-size: 14px;
border-radius: 10px;
}
.my_table1 {
background: #dcdcdc;
font-size: 14px;
border-radius: 10px;
margin: 10px 0 10px 0;
}
.my_table1 td {
padding-left: 7px;
}
.my_table1_td1 {
text-align: center;
font-weight: bold;
padding: 5px 0 5px 0;
border-bottom: #fff solid 1px;
}
.btn-primary {
margin-bottom: 10px;
border: 1px solid #666;
}
.carousel-inner {
max-height: 400px;
}
#carousel-example-generic {
margin-bottom: 20px;
}
.content_table1 {
width: 100%;
}
.content_table1 th {
padding: 10px 5px 10px 5px;
text-align: center;
border: 1px solid #000;
}
.content_table1 td {
padding: 5px;
border: 1px solid #ccc;
text-align: center;
}
.content_table1 img {
width: 100px;
}
.content form {
padding: 20px 0 20px 0;
}

@media screen and (max-width: 991px) {
.col-md-6 {
margin-top: 20px;
}
.my_table1 {
margin-top: 20px;
}
}
@media screen and (max-width: 768px) {
.topmenu {
background: linear-gradient(to bottom, #111 0%, #336699 2%, #336699 98%, #eee 100%);
}
.topmenu a{
border-bottom: white solid 1px;
}
.header {
height: 135px;
}
.logo {
display: none;
}
.logotext {
margin: 20px 0 0 20px;
}
.topmenu {
flex-direction: column;
}
}

